# Jetbrains config folder
.idea

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.eggs
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# python py.test coverage
.coverage